/*

Sigma Template

http://www.templatemo.com/tm-479-sigma

*/

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 34px;
}

#wrapper{
  min-height: calc(100vh - 160px);
}

header {
  background-color: white;
}

footer {
  padding: 1em;
  height: 6.250em;
  position: sticky;
  background-color: white;
  clear: both;
}

h1 {
	font-size: 34px;
}

h2 {
	font-size: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container-fluid {
	margin-left: 5%;
	margin-right: 5%;
}

.sigma-icon {
	font-size: 72px;
	padding: 30px;
}

.contact-icon {
	font-size: 30px;
	padding: 0 20px 0 0;
	min-width: 50px;
}

.site-title {
	padding: 0;
	margin-top: 30px;
	margin-bottom: 20px;
}

.site-title h1 {
	color: #333;
}

.site-title h2 {
	color: #888;
	font-size: 16px;
	padding-top: 20px;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.main-menu {
	margin-top: 60px;
}

.navbar {
	float: right;
	padding: 0 !important;
	margin: 0 !important;
}

.nav-link {
  cursor: pointer;
	padding: 0px;
	font-size: 18px;
  text-align: center;
  margin: inherit;
}



.sigma-hr {
   	margin: 15px -15px !important;
}

.sigmapad {
	padding: 0 1px 1px 0 !important;
	margin: 0 !important;
}

.sigmano {
	padding: 0 !important;
	margin: 0 !important;
}

.sigma-home h1 {
	font-size: 48px;
}
.sigma-home p {
	font-size: 24px;
	color: #555;
	line-height: 44px;
}
.sigma-home {
	padding: 0px;
	padding-top: 150px;
	padding-bottom: 150px;
	background: url(../images/tm-sigma-00.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.space40 {
	margin-bottom: 40px;
}

.sigma-start {
	margin: 10px;
	padding: 16px 40px;
	min-width: 200px;
	font-size: 22px;
}

.sigma-content {
	padding: 60px 40px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	min-height: 280px;
}

.sigma-section-header {
	padding: 0px;
	padding-top: 100px;
	padding-bottom: 80px;
	background: url(../images/tm-sigma-00.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.sigma-home p, .sigma-content p, .sigma-section-header p {
	padding: 20px 0 0 0;
}

.form-group {
	margin: 20px 0;
}

/* Login */


.form {
  background:rgba($form-bg,.9);
  max-width:600px;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

.tab-content > div:last-child {
  display:none;
}

label.highlight {
	color:$white;
}

.button {
  cursor:pointer;
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color:$white;
}

.button-block {
  margin-bottom: -8px;
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}

.tab-content {
  text-align:center;
  width: 100%;
  margin-top: 68px; //esta linha corrige o popup do login para ir um bocado para baixo
}

#login{
  float: left;
  width: 100%;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#login_popup{
  display: inline;
  right: 0px;
  position: absolute;
  background:#f0f0f0;
  width: 65%;
}

input {
  width: 100%;
}

input[type="email"],input[type="password"]{
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

input[type="submit"]{
  border:0;
  padding:4%;
  color:#fff;
  cursor:pointer;
}

/* End Login */

/* BreadCrumb */

.breadcrumb {
  background-color: inherit;
  margin-right: 3em;
  margin-left: 3em;
  font-size: 15px;
}

.breadcrumb > li + li:before {
  color: #ccc;
  text-size: 0.625em;
  content: "| ";
  padding: 0 5px;
}

/* End BreadCrumb */

/* Product Info */

.productinfo {
  margin-left: 6em;
}

.productimg {
  margin: auto;
  min-height: 8em;
  min-width: 20em;
  float: left;
  width:20%;
}

.productdetails {
  width: 70%;
}

/* End Product Info */


/* Sigma BG Colors --- BEGIN */

.sigma-bg-lightgray {
	background-color: #E4E8E8;
}

.sigma-bg-gray {
	background-color: #999;
	color: #FFF;
}

.sigma-bg-darkgray {
	background-color: #666;
	color: #FFF;
}

.sigma-bg-black {
	background-color: #444;
	color: #FFF;
}

.sigma-bg-blue {
	background-color: #28B;
	color: #FFF;
}

.sigma-bg-red {
	background-color: #A52;
	color: #FFF;
}

.sigma-bg-pink {
	background-color: #EBE;
	color: #000;
}

.sigma-bg-lightblue {
	background-color: #92C4F8;
	color: #000;
}

.sigma-bg-yellow {
	background-color: #A4A430;
	color: #FFF;
}

.sigma-bg-green {
	background-color: #496;
	color: #FFF;
}

/* Sigma BG Colors --- END */

.sigma-copyright {
	margin: 0;
	padding: 10px 0 30px 0;
	font-size: 14px;
}

@media (max-width:1330px) {
	body {
		font-size: 16px;
		line-height: 28px;
	}
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 24px;
	}
	.sigma-icon {
		font-size: 48px;
		padding: 20px;
	}
	.site-title h2 {
		font-size: 14px;
		padding-top: 10px;
	}
	.sigma-content {
		padding: 30px 20px;
		min-height: 200px;
	}
	.sigma-home h1 {
		font-size: 40px;
	}
	.sigma-home p {
		font-size: 18px;
		line-height: 36px;
	}
}

@media (max-width:990px) {
	.main-menu {
		margin: 0px;
	}
}

@media (max-width:767px) {
	.nav-link {
		font-size: 16px;
	}
	.sigma-home h1 {
		font-size: 30px;
	}
	.sigma-home p {
		font-size: 16px;
		line-height: 28px;
	}
	.sigma-content {
		padding: 20px;
		min-height: 100px;
	}
}
