<?php include("../templates/breadcrumb.html");?>
<div class="banner">
    <?php include("../templates/sidebar.html");?>
    <div class="banner_nav_right">
        <!-- login -->
        <div class="w3_login">
            <h3>Triggering promotion</h3>
            <div class="w3_login_module">
                <div class="form-module">
                    <div class="toggle" style="visibility: hidden"></div>
                    <div class="form">
                        <h2>Select category and then start and end date</h2>
                        <form action="../actions/category/promotion.php" method="post" enctype="multipart/form-data">
                            <select id="category_select" name="category">
                            	<label for="category_select" hidden="true">category select lable</label>
                                <option selected hidden value="">Category</option>
                                <?php
                                $category_arr = GetAllCategorys();
                                foreach($category_arr as $category){ ?>
                                    <option value="<?php echo $category['idcategory']; ?>"><?php echo $category['name']; ?></option>
                                <?php } ?>
                            </select>
                            <input id="create_promo_number" type="number" name="percentage" min="0" max="100">
                            <label for="create_promo_number" hidden="true">promo number</label>
                            <input id="create_promo_start_date" type="date" name="startdate" placeholder="" required="">
                            <label for="create_promo_start_date" hidden="true">promo start date</label>
                            <input id="create_promo_end_date" type="date" name="endate" placeholder="" required="">
                            <label for="create_promo_end_date" hidden="true">promo end date</label>
                            <input id="create_promo_submit" type="submit" value="Create">
                            <label for="create_promo_submit" hidden="true">promo button</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
