<?php include("../templates/breadcrumb.html");?>
<!-- banner -->
	<div class="banner">
		<?php include("../templates/sidebar.html");?>
		<div class="banner_nav_right">
			<!-- events -->
			<div class="events">
				<h3>Events</h3>
				<div class="w3agile_event_grids">
					<div class="col-md-6 w3agile_event_grid">
						<div class="col-md-3 w3agile_event_grid_left">
							<i class="fa fa-bullhorn" aria-hidden="true"></i>
						</div>
						<div class="col-md-9 w3agile_event_grid_right">
							<h4>New Promotions</h4>
							<p>Every week with different promotions. Stay tuned.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 w3agile_event_grid">
						<div class="col-md-3 w3agile_event_grid_left">
							<i class="fa fa-credit-card" aria-hidden="true"></i>
						</div>
						<div class="col-md-9 w3agile_event_grid_right">
							<h4>VISA and Mastercard discount</h4>
							<p>Use your Mastercard or your VISA to get 5% discount in the final purchase amount.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				
				<div class="w3agile_event_grids">
					<div class="col-md-6 w3agile_event_grid">
						<div class="col-md-3 w3agile_event_grid_left">
							<i class="fa fa-cog" aria-hidden="true"></i>
						</div>
						<div class="col-md-9 w3agile_event_grid_right">
							<h4>Regular Maintenance</h4>
							<p>In order to ensure the website functionality, there are several scheduled maintenances.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 w3agile_event_grid">
						<div class="col-md-3 w3agile_event_grid_left">
							<i class="fa fa-trophy" aria-hidden="true"></i>
						</div>
						<div class="col-md-9 w3agile_event_grid_right">
							<h4>Customer of the month award</h4>
							<p>Every month we select the best costumer based on the purchases.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="events-bottom">
					<div class="col-md-6 events_bottom_left">
						<div class="col-md-4 events_bottom_left1">
							<div class="events_bottom_left1_grid">
								<h4>04/07</h4>
								<p>July, 2016</p>
							</div>
						</div>
						<div class="col-md-8 events_bottom_left2">
							<img src="../images/4.png" alt=" " class="img-responsive" />
							<h4>Upcoming promotion in all 3 (or less) person sofas</h4>
							<ul>
								<li><i class="fa fa-clock-o" aria-hidden="true"></i>3:00 PM</li>
								<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Admin</a></li>
							</ul>
							<p>During ONLY 2 days, all sofas will be with 10% discount. Stay connected.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 events_bottom_left">
						<div class="col-md-4 events_bottom_left1">
							<div class="events_bottom_left1_grid">
								<h4>06/07</h4>
								<p>July, 2016</p>
							</div>
						</div>
						<div class="col-md-8 events_bottom_left2">
							<img src="../images/19.jpg" alt=" " class="img-responsive" />
							<h4>Upcoming promotion in all shelves</h4>
							<ul>
								<li><i class="fa fa-clock-o" aria-hidden="true"></i>3:30 PM</li>
								<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Admin</a></li>
							</ul>
							<p>During 3 days all shelves with be with 20% discount. Stay connected.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //events -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->
