<!-- banner -->
	<div class="banner">
		<?php include("../templates/sidebar.html");?>
		<div class="w3l_banner_nav_right">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="w3l_banner_nav_right_banner">
								<h3>Transform your<span>Home</span></h3>
								<div class="more">
									<a href="products.php" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
								</div>
							</div>
						</li>
						<li>
							<div class="w3l_banner_nav_right_banner1">
								<h3>Transform your<span>Home</span></h3>
								<div class="more">
									<a href="products.php" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
								</div>
							</div>
						</li>
						<li>
							<div class="w3l_banner_nav_right_banner2">
								<h3>up to <i>50%</i> of discount.</h3>
								<div class="more">
									<a href="products.php" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<!-- flexSlider -->
				<link rel="stylesheet" href="../css/flexslider.css" type="text/css" media="screen" property="" />
				<script defer src="../js/jquery.flexslider.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				  });
				});
			  </script>
			<!-- //flexSlider -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- banner -->
	<div class="banner_bottom">
			<div class="wthree_banner_bottom_left_grid_sub">
			</div>
			<div class="wthree_banner_bottom_left_grid_sub1">
				<div class="col-md-4 wthree_banner_bottom_left">
					<div class="wthree_banner_bottom_left_grid">
						<img src="../images/4.jpg" alt=" " class="img-responsive" />
						<div class="wthree_banner_bottom_left_grid_pos">
							<h4>Discounts up to <span>25%</span></h4>
						</div>
					</div>
				</div>
				<div class="col-md-4 wthree_banner_bottom_left">
					<div class="wthree_banner_bottom_left_grid">
						<img src="../images/5.jpg" alt=" " class="img-responsive" />
						<div class="wthree_banner_btm_pos">
							<h3>Welcome to the<span>best shop</span> of <i>furniture</i></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 wthree_banner_bottom_left">
					<div class="wthree_banner_bottom_left_grid">
						<img src="../images/6.jpg" alt=" " class="img-responsive" />
						<div class="wthree_banner_btm_pos1">
							<h3>Save<span>up to</span> 100€</h3>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
	</div>
<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
			<h3>Hot Offers</h3>
			<div class="agile_top_brands_grids">
                
<?php 

            date_default_timezone_set('Europe/Lisbon');
            $date = date('Y-m-d', time());

            
        
$arr=selectNewProducts(4);
    foreach($arr as $val){

if(GetCategoryPromo($val['idcategory'],$date)==true){
            $promo=GetCategoryPromo($val['idcategory'],$date)['promopercentage'];
            $ispromo=true;
}
$pricePromo=$val['price']-($val['price']*$promo/100);
         $indiv=getImageUrlFromProduct($val['idproduct']);
			echo'<div class="col-md-3 top_brand_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block" >
										<div class="snipcart-thumb">
											<a href="single.php?id='.$val['idproduct'].'"><img title=" " alt=" " src="../images/'.$indiv['url'].'" /></a>
											<p>'.$val['name'].'</p>';
										  if($ispromo==true){
                                            echo'<h4>$'.$pricePromo.'€<span>$'.$val['price'].'€</span></h4>';
}
                                else{
                                 echo'<h4>'.$val['price'].'€</h4>';

}
										echo'</div>
										<div class="snipcart-details top_brand_home_details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="'.$val['name'].'" />
													<input type="hidden" name="amount" value="'.$val['price'].'" />';
                                                    if($ispromo==true){
													echo'<input type="hidden" name="discount_amount" value="'.($val['price']*$promo/100).'" />';
                                                        }
                                                else{
                                                    echo'<input type="hidden" name="discount_amount" value="0" />';

}
												echo'	<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
                            <div class="tag"><img src="../images/tag.png" alt=" " class="img-responsive" /></div>
						</div>
					</div>
				</div>';
}
?>
            
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //top-brands -->
<!-- fresh-vegetables -->
	<div class="fresh-vegetables">
		<div class="container">
			<h3>Top Products</h3>
			<div class="w3l_fresh_vegetables_grids">
				<div class="col-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
					<div class="w3l_fresh_vegetables_grid2">
						<ul>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="products.php">ALL</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="products.php">Living room</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="products.php">Bedroom</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="products.php">Dining spaces</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="products.php">Kitchen</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="products.php">Lighting</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="estantes.php">Shelfs</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="mesas.php">Tables</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="bancos.php">Stool</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="bancos.php">Chairs</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-9 w3l_fresh_vegetables_grid_right">
					<div class="col-md-4 w3l_fresh_vegetables_grid">
						<div class="w3l_fresh_vegetables_grid1">
							<img src="../images/5.png" alt=" " class="img-responsive" />
						</div>
					</div>
					<div class="col-md-4 w3l_fresh_vegetables_grid">
						<div class="w3l_fresh_vegetables_grid1">
							<div class="w3l_fresh_vegetables_grid1_rel">
								<img src="../images/4.png" alt=" " class="img-responsive" />
								<div class="w3l_fresh_vegetables_grid1_rel_pos">
									<div class="more m1">
										<a href="products.php" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="w3l_fresh_vegetables_grid1_bottom">
							<img src="../images/3.png" alt=" " class="img-responsive" />
							<div class="w3l_fresh_vegetables_grid1_bottom_pos">
								<h5>Special Offers</h5>
							</div>
						</div>
					</div>
					<div class="col-md-4 w3l_fresh_vegetables_grid">
						<div class="w3l_fresh_vegetables_grid1">
							<img src="../images/1.png" alt=" " class="img-responsive" />
						</div>
						<div class="w3l_fresh_vegetables_grid1_bottom">
							<img src="../images/2.png" alt=" " class="img-responsive" />
						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="agileinfo_move_text">
						<div class="agileinfo_marquee">
							<h4>Offer <span class="blink_me">10% discount</span> on fisrt order!</h4>
						</div>
						<div class="agileinfo_breaking_news">
							<span> </span>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //fresh-vegetables -->
