<div class="banner">
		<?php include("../templates/sidebar.html");?>
		<div class="w3l_banner_nav_right">
			<!-- login -->
			<div class="w3_login">
				<h3>Product creation</h3>
				<div class="w3_login_module">
					<div class="module form-module">
					  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
						<div class="tooltip">Click Me</div>
					  </div>
					  <div class="form">
						<h2>Create your product</h2>
						<form action="../actions/products/Insert.php" method="post" enctype="multipart/form-data">
						  <input type="text" name="ProductName" placeholder="Product name" required=" ">
                            
                          <input type="file" name="fileToUpload" id="fileToUpload">
                            
                            <?php 
                            echo'<select name="category">';
                            $arr=GetAllCategorys();
                            foreach($arr as $value){
                            echo '<option value='.$value['idcategory'].'>'.$value['name'].'</option>';
}
                            echo '</select name="brand">';
                            echo'<select>';
                            $arr=GetAllBrands();
                            foreach($arr as $value){
                            echo '<option value='.$value['idbrand'].'>'.$value['name'].'</option>';
}
                            echo'</select>';
?>
                         
                          <input type="number" name="Stock" min="0" max="100" placeholder="stock">
                          <input type="number" name="Price" min="0" placeholder="price">
                          <input type="number" name="Height" placeholder="height">
                          <input type="number" name="Width" placeholder="width">    
                          <input type="number" name="Weight" placeholder="weight">
                          <input type="text" name="Description" placeholder="Write a description" required="">
						 
						  <input type="submit" value="Create">
						</form>
					  </div>
                    </div>
                </div>
            </div>
        </div>
</div>