<?php include("../templates/breadcrumb.html");?>
<div class="banner">
    <?php include("../templates/sidebar.html");?>
    <div class="banner_nav_right">
        <div class="w3_login">
            <h3>Category creation</h3>
            <div class="w3_login_module">
                <div class="form-module">
                    <div class="toggle" style="visibility: hidden"></div>
                    <div class="form">
                        <h2>Create your category</h2>
                        <form action="../actions/products/NewCategory.php" method="post" enctype="multipart/form-data">
                            <input type="text" name="category" placeholder="Category" required>
                            
                            <input type="submit" value="Create">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
