<div class="banner">
		<?php include("../templates/sidebar.html");?>
		<div class="w3l_banner_nav_right">
			<!-- login -->
			<div class="w3_login">
				<h3>Product creation</h3>
				<div class="w3_login_module">
					<div class="module form-module">
					  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
						<div class="tooltip">Click Me</div>
					  </div>
					  <div class="form">
						<h2>Create your product</h2>
						<form action="../actions/products/Insert.php" method="post">
						  <input type="text" name="Name" placeholder="Product name" required=" ">
						  <input type="password" name="Password" placeholder="Password" required=" ">
						  <input type="submit" value="Login">
						</form>
					  </div>
                    </div>
                </div>
            </div>
        </div>
</div>