<div class="banner">
    <?php include("../templates/sidebar.html");?>
    <div class="banner_nav_right">
        <!-- login -->
        <div class="w3_login">
            <h3>Product creation</h3>
            <div class="w3_login_module">
                <div class="form-module">
                    <div class="toggle" style="visibility: hidden"></div>
                    <div class="form">
                        <h2>Create your product</h2>
                        <form action="../actions/products/Insert.php" method="post" enctype="multipart/form-data">
                            <input type="text" name="ProductName" placeholder="Product name" required>
                            <input type="file" name="fileToUpload" id="fileToUpload">
                            <select name="category">
                                <option selected hidden value="">Category</option>
                                <?php
                                $category_arr = GetAllCategorys();
                                foreach($category_arr as $category){ ?>
                                    <option value="<?php echo $value['idcategory']; ?>"><?php echo $category['name']; ?></option>
                                <?php } ?>
                            </select>
                            <select name="brand">
                                <option selected hidden value="">Brand</option>
                                <?php
                                $brand_arr = GetAllBrands();
                                foreach ($brand_arr as $brand) { ?>
                                    <option value="<?php echo $value['idbrand']; ?>"><?php echo $brand['name']; ?></option>
                                <?php } ?>
                            </select>
                            <input type="number" name="Stock" min="0" max="100" placeholder="Stock">
                            <input type="number" name="Price" min="0" placeholder="Price" required>
                            <input type="number" name="Height" placeholder="Height">
                            <input type="number" name="Width" placeholder="Width">
                            <input type="number" name="Weight" placeholder="Weight">
                            <input type="text" name="Description" placeholder="Write a description" required>
                            <input type="submit" value="Create">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
