<!-- products-breadcrumb -->
<div class="products-breadcrumb">
    <div class="container">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="../pages/index.php">Home</a><span>|</span></li>
            <li>Mail Us</li>
        </ul>
    </div>
</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner">
    <?php include("../templates/sidebar.html");?>
    <div class="banner_nav_right">
        <!-- mail -->
        <div class="mail">
            <h3>Mail Us</h3>
            <div class="agileinfo_mail_grids">
                <div class="col-md-4 agileinfo_mail_grid_left">
                    <ul>
                        <li><i class="fa fa-home" aria-hidden="true"></i></li>
                        <li>address<span>R. Dr. Roberto Frias, 4200-464 Porto</span></li>
                    </ul>
                    <ul>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
                        <li>email<span><a href="mailto:webstore@feup.pt">webstore@feup.pt</a></span></li>
                    </ul>
                    <ul>
                        <li><i class="fa fa-phone" aria-hidden="true"></i></li>
                        <li>call to us<span>(+351) 22 508 1400</span></li>
                    </ul>
                </div>
                <div class="col-md-8 agileinfo_mail_grid_right">
                    <form id="ticket" action="#" method="post">
                        <div class="col-md-6 wthree_contact_left_grid">
                            <input type="text" name="name" placeholder="Name *" required>
                            <input type="email" name="email" placeholder="Email *" required>
                        </div>
                        <div class="col-md-6 wthree_contact_left_grid">
                            <input type="text" name="telephone" placeholder="Telephone">
                            <input type="text" name="subject" placeholder="Subject *" required>
                        </div>
                        <div class="clearfix"></div>
                        <textarea name="message" placeholder="Message *" required></textarea>
                        <h6 style="margin-left:1.2em">* - required</h6>
                        <input type="submit" value="Submit">
                        <input type="reset" value="Clear">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //mail -->
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- map -->
<div class="map">
    <iframe height="480" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDfCruaIgt9F4ukbZk-cRzwOpbDTBujS6g&q=FEUP,Porto+Portugal">
    </iframe>
</div>
<!-- //map -->
