<?php include("../templates/breadcrumb.html");?>
<!-- banner -->
<div class="banner">
	<?php include("../templates/sidebar.html");?>
	<div class="banner_nav_right">
		<table class="table">
			<thead>
				<tr>
					<th>Purchase nº</th>
                    <th>Username</th>
                    <th>Price Total</th>
					<th>State</th>
					
					<th>Process</th>
                    <th>Reject</th>
				</tr>
			</thead>
			<tbody>
                <?php 
                   

                    if (isset($_SESSION['admin']) && $_SESSION['admin']){
                    $arr=getAllPurchases();
                    
                    foreach($arr as $value){
                    
                    $totalprice=0;

                    $arr2=getallfrom1Purchase($value['idpurchase']);
                    foreach($arr2 as $purchaseproduct){
                    $totalprice=$totalprice+$purchaseproduct['price'];
}



                    echo '<tr>
                    <td><a href="../pages/showPurchase.php?id='.$value['idpurchase'].'">'.$value['idpurchase'].'</td>
                    '<td>'.getById($value['iduser'])['username'].'</td>'.
                    <td>'.$totalprice.'</td>
                    
                    '<td>'.$value['state'].'</td>';
                   
                    echo '<td>'.'<form action="../actions/purchase/process.php" method="post">
                    <input type="hidden" name="idpurchase" value="'.$value['idpurchase'].'">
                    <input type="submit" value="Accept"></form>.</td>';

                    echo '<td>'.'<form action="../actions/purchase/reject.php" method="post">
                    <input type="hidden" name="idpurchase" value="'.$value['idpurchase'].'">
                    <input type="hidden" name="iduser" value="'$value['iduser'].'">
                    <input type="submit" value="Reject"></form>.</td></tr>';
}

}
                 ?>
				
			</tbody>
		</table>
	</div>
	<div class="clearfix"></div>
</div>
