<?php include("../templates/breadcrumb.html");?>
<!-- banner -->
<div class="banner">
	<?php include("../templates/sidebar.html");?>
	<div class="banner_nav_right">
		<table class="table">
			<thead>
				<tr>
					<th>Purchase nº</th>
                    <th>Username</th>
                    <th>Price Total</th>
					<th>State</th>
					<?php   if (isset($_SESSION['admin']) && $_SESSION['admin']){?>
					<th>Process</th>
                    <th>Reject</th>
                    <?php }?>
				</tr>
			</thead>
			<tbody>
                <?php 
                   

                    if (isset($_SESSION['admin']) && $_SESSION['admin']){
                    $arr=getAllPurchases();
                    $count=0;
                    foreach($arr as $value){
                    
                    $totalprice=0;

                    $arr2=getallfrom1Purchase($value['idpurchase']);
                    foreach($arr2 as $purchaseproduct){
                    $totalprice=$totalprice+$purchaseproduct['price'];
}



                   $count=$count+1;
                   echo '<tr><td><a href="../pages/showPurchase.php?id='.$value['idpurchase'].'">'.$count.'</td>
                    <td>'.getById($value['iduser'])['username'].'</td>
                    <td>'.$totalprice.'€</td>
                    
                    <td>'.$value['state'].'</td>';
                   
                    echo '<td><form action="../actions/purchase/process.php" method="post">
                    <input type="hidden" name="idpurchase" value="'.$value['idpurchase'].'">
                    <input type="submit" value="Accept"></form>.</td>';

                    echo '<td><form action="../actions/purchase/reject.php" method="post">
                    <input type="hidden" name="idpurchase" value="'.$value['idpurchase'].'">
                    <input type="hidden" name="iduser" value="'.$value['iduser'].'">
                    <input type="submit" value="Reject"></form>.</td></tr>';
}

}



if (isset($_SESSION['iduser']) && !$_SESSION['admin']){
$count=0;
$arr=showallPurchasesUser($_SESSION['iduser']);
foreach($arr as $value){

$totalprice=0;

$arr2=getallfrom1Purchase($value['idpurchase']);
    foreach($arr2 as $purchaseproduct){
    $totalprice=$totalprice+$purchaseproduct['price'];
}
$count=$count+1;
 echo '<tr><td><a href="../pages/showPurchase.php?id='.$value['idpurchase'].'">'.$count.'</td>
                    <td>'.getById($_SESSION['iduser'])['username'].'</td>
                    <td>'.$totalprice.'€</td>
                    <td>'.$value['state'].'</td></tr>';

                   
                   



}

}
                 ?>
				
			</tbody>
		</table>
	</div>
	<div class="clearfix"></div>
</div>
