<?php include("../templates/breadcrumb.html");?>
<!-- banner -->
<div class="banner">
	<?php include("../templates/sidebar.html");?>
	<div class="banner_nav_right">
		<table class="table">
			<thead>
				<tr>
					<th>Image</th>
                    <th>Name</th>
                    <th>Remove from wishlist</th>
				</tr>
			</thead>
			<tbody>
                <?php 
                   
                    $arr=GetWholeWishlist($_SESSION['iduser']);
                    
                    foreach($arr as $value){
                    echo '<tr>
<td><img src="../images/'.getImageUrlFromProduct($value['idproduct'])['url'].'" height="42" width="42"/></td>
<td><a href="../pages/single.php?id='.$value['idproduct'].'">'.getProductById($value['idproduct'])['name'].'</a></td>
<td> <form action="../actions/wishlist/add.php" method="post">
                        <input type="hidden" name="Iduser" value="'.$_SESSION['iduser'].'"/>
                        <input type="hidden" name="Idproduct" value="'.$value['idproduct'].'"/>
                        <input type="hidden" name="wishlist" value="true"/>
                        <input type="submit" name="add" value="X" /></form><td>

                   </tr>';
}
                 ?>
				
			</tbody>
		</table>
	</div>
	<div class="clearfix"></div>
</div>
