<!-- products-breadcrumb -->
<div class="products-breadcrumb">
    <div class="container-nav">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="../pages/index.php">Home</a><span>|</span></li>
            <li>Single Page</li>
        </ul>
    </div>
</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner">
    <?php include("../templates/sidebar.html");?>
    <div class="banner_nav_right">
        <div class="banner_nav_right_banner3">
            <h3>Best Deals For New Products<span class="blink_me"></span></h3>
        </div>
        <div class="agileinfo_single">
            <?php
            $idproduct = $_GET['id'];
            $val = getProductById($idproduct);
            $indiv = getImageUrlFromProduct($val['idproduct']);
            ?>
            <h5><?php echo $val['name']; ?></h5>
            <div class="col-md-4 agileinfo_single_left">
                <img id="example" src="../images/<?php echo $indiv['url']; ?>" alt=" " class="img-responsive" />
                <p><?php echo $val['weight']; ?>kg</p>
                <p><?php echo $val['width']; ?> x <?php echo $val['height']; ?> (width x height)</p>
                <p>Available in Stock: <?php echo $val['stock']; ?></p>
            </div>
            <div class="col-md-8 agileinfo_single_right">
                <div class="rating1">
					<span class="starRating">
						<input id="rating5" type="radio" name="rating" value="5">
						<label for="rating5">5</label>
						<input id="rating4" type="radio" name="rating" value="4">
						<label for="rating4">4</label>
						<input id="rating3" type="radio" name="rating" value="3" checked>
						<label for="rating3">3</label>
						<input id="rating2" type="radio" name="rating" value="2">
						<label for="rating2">2</label>
						<input id="rating1" type="radio" name="rating" value="1">
						<label for="rating1">1</label>
					</span>
                </div>
                <?php if(isset($_SESSION['iduser'])){
?>
                <div>
                    
                    <form action="../actions/wishlist/add.php" method="post">
                        <input type="hidden" name="Iduser" value="<?php echo $_SESSION['iduser']; ?>"/>
                        <input type="hidden" name="Idproduct" value="<?php echo $idproduct; ?>"/>
                        <?php if(checkIfalreadyAdded($_SESSION['iduser'],$idproduct)==true){ ?>
                        <input type="submit" name="add" value="Remove from wishlist" class="whishlist-btn"/>
                        <?php }
                        else{
?>
                        <input type="submit" name="add" value="Add to wishlist" class="whishlist-btn"/>
                        <?php }?>
                    </form>
                </div>
        <?php }
?>
                <div class="w3agile_description">
                    <h4>Description: </h4>
                    <p><?php echo $val['description']; ?></p>
                </div>
                <div class="comments">
                    <h4>Comment section</h4>
                    <textarea form="comment_form" rows="4" cols="50"></textarea>
                    <!-- post will save the review with the rating not yet sure how but will-->
                    <form id="comment_form" action="../actions/products/SubmitReview.php" method="post">
                        <input type="submit" name="remove" value="Submit" class="button"/>
                    </form>
                </div>
                <div class="snipcart-item block">
                    <div class="snipcart-thumb agileinfo_single_right_snipcart">
                        <?php
                        date_default_timezone_set('Europe/Lisbon');
                        $date = date('Y-m-d', time());

                        if(GetCategoryPromo($val['idcategory'],$date) == true){
                            $promo=GetCategoryPromo($val['idcategory'],$date)['promopercentage'];
                            $ispromo = true;
                        }
                        $pricePromo = $val['price'] - ($val['price'] * $promo/100);
                        ?>
                        <h4>
                            <?php if ($ispromo) {
                                    echo $pricePromo; ?>€<span><?php echo $val['price']; ?>€</span>
                            <?php } else {
                                echo $val['price']; ?>€
                            <?php } ?>
                        </h4>
                    </div>
                    <div class="snipcart-details agileinfo_single_right_details">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_cart"/>
                                <input type="hidden" name="add" value="1"/>
                                <input type="hidden" name="business" value=" "/>
                                <input type="hidden" name="item_name" value="<?php echo $val['name']; ?>"/>
                                <input type="hidden" name="amount" value="<?php echo $val['price']; ?>"/>
                                <?php
                                    if($ispromo){
                                        echo'
                                            <input type="hidden" name="discount_amount" value="'.($val['price']*$promo/100).'"/>
                                        ';
                                    } else{
                                        echo'
                                            <input type="hidden" name="discount_amount" value="0"/>
                                        ';
                                    }
                                ?>

                                <input type="hidden" name="currency_code" value="EUR"/>
                                <input type="hidden" name="return" value=" "/>
                                <input type="hidden" name="cancel_return" value=" "/>
                                <input type="submit" name="submit" value="Add to cart" class="button"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- brands -->
<div class="banner_nav_right_grid banner_nav_right_grid_popular">
    <div class="container">
        <h3>Products in the same category</h3>
        <div class="banner_nav_right_grid1">
        <?php
            $arr = selectProductByCategory($val['idcategory'], 8);

            foreach($arr as &$productfromcat){
                $id_product_from_cat = $productfromcat['idproduct'];

                if($idproduct != $id_product_from_cat) {
                    $indiv = getImageUrlFromProduct($id_product_from_cat);
                    $pricePromo = $productfromcat['price'] - ($productfromcat['price'] * $promo/100);
                    ?>
            <div class="col-md-3 banner_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            <img src="../images/offer.png" alt=" " class="img-responsive"/>
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="../pages/single.php?id=<?php echo $id_product_from_cat; ?>">
                                            <img src="../images/<?php echo $indiv['url']; ?>" alt="product" class="img-responsive"/>
                                        </a>
                                        <p><?php echo $productfromcat['name']; ?></p>
                                        <h4>
                                        <?php if ($ispromo) {
                                            echo $pricePromo; ?>€<span><?php echo $val['price']; ?>€</span>
                                        <?php } else {
                                            echo $val['price']; ?>€
                                        <?php } ?>
                                        </h4>
                                    </div>
                                    <div class="snipcart-details">
                                        <form action="#" method="post">
                                            <fieldset>
                                                <input type="hidden" name="cmd" value="_cart"/>
                                                <input type="hidden" name="add" value="1"/>
                                                <input type="hidden" name="business" value=" "/>
                                                <input type="hidden" name="item_name" value="<?php echo $productfromcat['name']; ?>"/>
                                                <input type="hidden" name="amount" value="<?php echo $productfromcat['price']; ?>"/>
                                                <input type="hidden" name="discount_amount" value="
                                                    <?php
                                                        if ($ispromo) {
                                                            echo $productfromcat['price'] * $promo/100;
                                                        } else {
                                                            echo 0;
                                                        }
                                                    ?>
                                                    "/>
                                                <input type="hidden" name="currency_code" value="EUR"/>
                                                <input type="hidden" name="return" value=" "/>
                                                <input type="hidden" name="cancel_return" value=" "/>
                                                <input type="submit" name="submit" value="Add to cart" class="button"/>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
                <?php }?><!-- if close bracket -->
            <?php }?><!-- for each close bracket -->
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //brands -->
