<!-- products-breadcrumb -->
<div class="products-breadcrumb">
	<div class="container">
		<ul>
			<li><i class="fa fa-home" aria-hidden="true"></i><a href="index.php">Home</a><span>|</span></li>
			<li>Single Page</li>
		</ul>
	</div>
</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner">
	<?php include("templates/sidebar.html");?>
	<div class="w3l_banner_nav_right">
		<div class="w3l_banner_nav_right_banner3">
			<h3>Best Deals For New Products<span class="blink_me"></span></h3>
		</div>
		<div class="agileinfo_single">
			<h5>EKTORP (sofá)</h5>
			<div class="col-md-4 agileinfo_single_left">
				<img id="example" src="images/1.png" alt=" " class="img-responsive" />
			</div>
			<div class="col-md-8 agileinfo_single_right">
				<div class="rating1">
					<span class="starRating">
						<input id="rating5" type="radio" name="rating" value="5">
						<label for="rating5">5</label>
						<input id="rating4" type="radio" name="rating" value="4">
						<label for="rating4">4</label>
						<input id="rating3" type="radio" name="rating" value="3" checked>
						<label for="rating3">3</label>
						<input id="rating2" type="radio" name="rating" value="2">
						<label for="rating2">2</label>
						<input id="rating1" type="radio" name="rating" value="1">
						<label for="rating1">1</label>
					</span>
				</div>
				<div class="w3agile_description">
					<h4>Description :</h4>
					<p>As almofadas de assento com enchimento em espuma de grande elasticidade e forro em fibra de poliéster proporcionam apoio para o corpo ao sentar e voltam à sua forma original ao levantar-se.</p>
					<p>Almofadas de encosto reversíveis com fibras de poliéster, proporcionam um apoio suave para as costas e dois lados diferentes para variar.</p>
					<p>Como é amovível e lavável na máquina, a capa é fácil de manter limpa.</p>
					<p>Uma gama de capas coordenadas permite-lhe dar um novo aspeto aos seus móveis.</p>
					<p>Inclui 10 anos de garantia. Saiba mais sobre as condições da garantia no respetivo folheto.</p>
				</div>
                <div class="comments">
                    <h4>Comment section</h4>
                    <textarea rows="4" cols="50">

</textarea>
                    <input type="submit" name="remove" value="Submit" class="button" />
                </div>
				<div class="snipcart-item block">
					<div class="snipcart-thumb agileinfo_single_right_snipcart">
						<h4>399€ <span>499€</span></h4>
					</div>
					<div class="snipcart-details agileinfo_single_right_details">
						<form action="#" method="post">
							<fieldset>
								<input type="hidden" name="cmd" value="_cart" />
								<input type="hidden" name="add" value="1" />
								<input type="hidden" name="business" value=" " />
								<input type="hidden" name="item_name" value="EKTORP_sofa" />
								<input type="hidden" name="amount" value="499.00" />
								<input type="hidden" name="discount_amount" value="100.00" />
								<input type="hidden" name="currency_code" value="USD" />
								<input type="hidden" name="return" value=" " />
								<input type="hidden" name="cancel_return" value=" " />
								<input type="submit" name="submit" value="Add to cart" class="button" />
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- brands -->
<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_popular">
	<div class="container">
		<h3>Modelos populares</h3>
		<div class="w3ls_w3l_banner_nav_right_grid1">
			<h6>poltronas</h6>
			<div class="col-md-3 w3ls_w3l_banner_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive" />
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="single.php"><img src="images/5.png" alt=" " class="img-responsive" /></a>
										<p>EKTORP (poltrona)</p>
										<h4>259€</h4>
									</div>
									<div class="snipcart-details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="EKTORP_poltrona" />
												<input type="hidden" name="amount" value="259.00" />
												<input type="hidden" name="discount_amount" value="0.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 w3ls_w3l_banner_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive" />
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="single.php"><img src="images/6.png" alt=" " class="img-responsive" /></a>
										<p>STRANDMON (poltrona)</p>
										<h4>199€ <span>210€</span></h4>
									</div>
									<div class="snipcart-details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="STRANDMON_poltrona" />
												<input type="hidden" name="amount" value="210" />
												<input type="hidden" name="discount_amount" value="11" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 w3ls_w3l_banner_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive" />
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="single.php"><img src="images/7.png" alt=" " class="img-responsive" /></a>
										<p>SÖDERHAMN (poltrona)</p>
										<h4>260€ <span>300€</span></h4>
									</div>
									<div class="snipcart-details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="SÖDERHAMN_poltrona" />
												<input type="hidden" name="amount" value="300" />
												<input type="hidden" name="discount_amount" value="40" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 w3ls_w3l_banner_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive" />
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="single.php"><img src="images/8.png" alt=" " class="img-responsive" /></a>
										<p>MUREN (poltrona reclinável)</p>
										<h4>299€ <span>350€</span></h4>
									</div>
									<div class="snipcart-details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="MUREN_poltrona" />
												<input type="hidden" name="amount" value="350.00" />
												<input type="hidden" name="discount_amount" value="50.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="w3ls_w3l_banner_nav_right_grid1">
			<h6>estantes</h6>
			<div class="col-md-3 w3ls_w3l_banner_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive" />
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="single.php"><img src="images/9.png" alt=" " class="img-responsive" /></a>
										<p>HEMNES (estante)</p>
										<h4>149€ <span>160€</span></h4>
									</div>
									<div class="snipcart-details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="HEMNES_estante" />
												<input type="hidden" name="amount" value="160.00" />
												<input type="hidden" name="discount_amount" value="11.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 w3ls_w3l_banner_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive" />
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="single.php"><img src="images/10.png" alt=" " class="img-responsive" /></a>
										<p>LIATORP (estante)</p>
										<h4>199€ <span>205€</span></h4>
									</div>
									<div class="snipcart-details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="LIATORP_estante" />
												<input type="hidden" name="amount" value="205.00" />
												<input type="hidden" name="discount_amount" value="6.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 w3ls_w3l_banner_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
						<div class="tag"><img src="images/tag.png" alt=" " class="img-responsive" /></div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="single.php"><img src="images/11.png" alt=" " class="img-responsive" /></a>
										<p>BILLY (estante estreita)</p>
										<h4>75€ <span>76€</span></h4>
									</div>
									<div class="snipcart-details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="BILLY_estante_small" />
												<input type="hidden" name="amount" value="76.00" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 w3ls_w3l_banner_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive" />
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="single.php"><img src="images/12.png" alt=" " class="img-responsive" /></a>
										<p>BILLY (estante)</p>
										<h4>90€ <span>95€</span></h4>
									</div>
									<div class="snipcart-details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="BILLY_estante" />
												<input type="hidden" name="amount" value="95.00" />
												<input type="hidden" name="discount_amount" value="5.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="w3ls_w3l_banner_nav_right_grid1">
			<h6>mesas de centro</h6>
			<div class="col-md-3 w3ls_w3l_banner_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive" />
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="single.php"><img src="images/13.png" alt=" " class="img-responsive" /></a>
										<p>LACK (mesa de centro)</p>
										<h4>20€ <span>25€</span></h4>
									</div>
									<div class="snipcart-details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="LACK_mesadecentro" />
												<input type="hidden" name="amount" value="25.00" />
												<input type="hidden" name="discount_amount" value="5.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 w3ls_w3l_banner_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive" />
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="single.php"><img src="images/14.png" alt=" " class="img-responsive" /></a>
										<p>LACK (mesa de centro)</p>
										<h4>35€ <span>36€</span></h4>
									</div>
									<div class="snipcart-details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="LACK_mesadecentro" />
												<input type="hidden" name="amount" value="36" />
												<input type="hidden" name="discount_amount" value="1.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 w3ls_w3l_banner_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
						<div class="tag"><img src="images/tag.png" alt=" " class="img-responsive" /></div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="single.php"><img src="images/15.png" alt=" " class="img-responsive" /></a>
										<p>STOCKHOLM (mesa de centro)</p>
										<h4>219€ <span>225€</span></h4>
									</div>
									<div class="snipcart-details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="STOCKHOLM_mesadecentro" />
												<input type="hidden" name="amount" value="225" />
												<input type="hidden" name="discount_amount" value="6" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 w3ls_w3l_banner_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive" />
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="single.php"><img src="images/16.png" alt=" " class="img-responsive" /></a>
										<p>STOCKHOLM (mesa de centro)</p>
										<h4>199€ <span>205€</span></h4>
									</div>
									<div class="snipcart-details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="STOCKHOLM_round_mesadecentro" />
												<input type="hidden" name="amount" value="205.00" />
												<input type="hidden" name="discount_amount" value="6.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //brands -->
